@use "../abstracts/" as *;

body {
	background-color: rgb(30, 30, 40);
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	margin: auto;
}

.grid-container {
	border-radius: 5px;
	padding: 2rem;
}

.icon-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 15%;
	width: 70%;
	padding-bottom: 2rem;
	align-items: center;
	grid-auto-flow: row;
	justify-items: stretch;
	grid-template-areas: ". . .";
	margin: auto;
	margin-top: 2rem;
	text-align: center;
}

.icon {
	background-color: #CC6666;
	width: 4rem;
	height: 3rem;
	border-radius: 50%;
	text-align: center;
	padding-top: 0.5rem;
	margin-left: 4rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.fas { 
	color: white; 
	padding-top: 0.3rem;
	
}


.grid-container-contact {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1.5fr 1fr;
	width: 100%;
	height: 45rem;
}

.grid-contactform {
	
	font-size: 1.2rem;
	font-weight: bold;
	padding-left: 15rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
	float: none;
	height: 35rem;
	max-width: 100%;
	display: grid;
}


input[type=text], select, textarea {
	background-color: transparent;
	width: 30%;
	padding: 1rem;
	border: 0.1rem solid rgb(204,102,102);
	border-radius: 0.2rem;
	box-sizing: border-box;
	margin-top: 0.4rem;
	margin-bottom: 0.8rem;
	resize: vertical;
}

input[type=send] {
	color: rgb(255, 255, 255);
	padding: 1rem 0.5rem;
	border: none;
	border-radius: 0.3rem;
	cursor: pointer;
}

.box-text {
	color:rgb(255, 255, 255);
	margin-top: 1.5rem;
	width: 12rem;
	height: 4rem;
	font-weight: bold;
	
}

#message {
	color:rgb(255, 255, 255);
	font-weight: bolder;
	width: 40rem;
	height: 10rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#fname {
	color:white;
	width: 30rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#email {
	color:white;
	width: 30rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#subject {
	color: white;
	background-color: rgb(30, 30, 40);
	width: 30rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.button-send {
	border: none;
	padding: 1rem 2rem;
	text-align: center;
	font-size: 1rem;
	font-weight: bold;
	margin: 0.5rem 0.3rem;
	height: 3rem;
	width: 7rem;
	cursor: pointer;
	background-color: #CC6666;
	border-radius: 1rem;
	color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.grid-imgbox {
	float: none;
	height: 45rem;
	grid-template-rows: inherit;
	background: url('../../components/assets/kontor.png') center no-repeat;
	max-width: 100%;
	height: 40rem;
	margin-right: 20rem;
	
}



@media only screen and (max-width: 1400px) {
.grid-imgbox {
	display: none;
}
}
