@use "../abstracts/" as *;

.landing-page {
  min-height: 100%;
  @include flex-columns-center;
  align-items: center;
  line-height: 2rem;
  .paragraphs {
    p:first-child {
      margin-bottom: 2rem;
      width: 90%;
    }
    p:last-child {
      margin-bottom: 2rem;
    }
  }
}


