@use "../abstracts/" as *;

.startpage{
    min-height: 100vh;
//    background:fixed, red;
background: url('../../assets/background.png') center/cover no-repeat ; 
   text-align: center;
   padding-top: 5rem;
}

h5{  
    padding-top: 1rem;   
    color: #EDEAEC;
    line-height: 3rem;
   }

.title {
    padding-top: 7rem;
    color: #EDEAEC;
    font-size: 2rem;
    font-weight: bold;

}
.span{
     color: #EDEAEC;
     display: inline-block;
     padding-top: 1rem;

}
