@mixin special-effect-underscore {
  border: none;
  display: inline-block;
  position: relative;
  font-size: 1rem;
  &::after {
    content: "";
    background: hsla(0, 19%, 100%) repeat scroll 0 0;
    position: absolute;
    width: 0%;
    height: 0.125rem;
    transition: width 300ms ease 0s, left 300ms ease 0s;
    left: 50%;
    bottom: 0;
  }

  &:hover,
  &:focus {
    color: hsla(0, 19%, 100%);

    &::after {
      width: 100%;
      left: 0;
    }
  }
}
